
         body{
           padding:0;
           margin:50px auto;
           text-align:center;
           font-family: 'Domine', serif;
         }

         h1 {
	   font-family: 'Unica One', cursive;
           font-size: 3em;
	   width: 70%;
	   position: relative;
	 }

	 .green {
	  color: rgba (100, 100, 50, 0.45);
	  background: #cc0 50% 0 repeat;
	  border-radius: 1.5em;	
	  padding: 0.2em 1em;
	  margin: 0.5em auto;
	  display: block;
	 }
	  
	#bubble_1 {
	 position: absolute;
	 height: 80px;
	 width: 200px;
	 border-radius: 50px;
	 background: #fff;
	 border: 4px solid #A49DA4;
	 color: #A49DA4;
	 top: 20px;
	 right: 2%;
	 box-shadow: 0 0 5px rgba(0,0,0,0.5);
	 font-family: 'Domine', serif;
	 padding: 0.7em;
	}

	#bubble_2 {
	 position: absolute;
	 height: 100px;
	 width: 100px;
	 border-radius: 50px;
	 background: #fff;
	 border: 5px solid #000;
	 top: 150px;
	 right: 70px;
	 box-shadow: 0 0 5px rgba(0,0,0,0.5);
	 font-family: 'Domine', serif;
	 padding: 0.3em;
	}
        
	#bubble_3 {
	 position: absolute;
	 height: 80px;
	 width: 80px;
	 border-radius: 50px;
	 background: #fff;
	 border: 5px solid #000;
	 top: 150px;
	 right: 0.8%;
	 box-shadow: 0 0 5px rgba(0,0,0,0.5);
	 font-family: 'Domine', serif;
	}
        
	#bubble_4 {
	 position: absolute;
	 height: 80px;
	 width: 150px;
	 padding: 0.3em;
	 border-radius: 50px;
	 background: #fff;
	 border: 5px solid #000;
	 top: 20px;
	 right: 10%;
	 box-shadow: 0 0 5px rgba(0,0,0,0.5);
	 font-family: 'Domine', serif;
	}


	 h2 {
           font-size: 1em;
            margin-top:0;
         }

	 h3 {
	   font-family: 'Domine', serif;
	   margin: 1em 2em;
	 }

	.spalte {
	  display: inline-block;
	  width: 20%;
	  vertical-align: middle;
	 }

	.spalte form {
	  display: inline;
	}

/* ids */ 
	#yourname {
           font-size: 4.5em;
	   margin: 1.5em;
	   margin-bottom: 1.5em;
         }

	#neuephrase {
	 font-size: 2em;
	 height: 2em;
 	 display: inline-block;
	 font-family: 'Unica One', cursive;
	 color: #000;	
	 background-color: #FC7C03;
	 border-radius: 1.5em;	
	 padding: 0.2em 1em;
	 margin-bottom: 0.7em;
	}

         footer {
           font-size: 1em;
	   margin-top: 7em;
         }

	#abspann {
	display: inline-block;
	margin: auto;
	margin-top: 2em;
	}

	#abspann a {
	text-decoration: none;
	font-size: 1.2em;
	color: #000;
	font-weight: bold;
	padding: 0.3em 0.8em;
	font-family: 'Domine', serif;
	}

/* klassen */  
	.class { 
}
/* div tag, das die klasse indent hat */
	div.indent { 
	}

/* beliebiges element mit der klasse indent innerhalb eines div elements */
	div .indent {
	}

/* ... {
    background: none repeat scroll 0 0 #FFFF00;
    display: inline-block;
    float: left;
    height: 2em;
    width: 2em; */


	selektor1>selektor2
